@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.screen {
    min-height: calc(100vh - 64px);
}

.navbar {
    position: fixed;
    height: 10%;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.navbar > div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.justify-info {
    text-align: justify;
}

.navbar > div > div {
    flex-shrink: 0;
    margin-right: 1.5rem;
}

.landing-image {
    max-width: 100%;
    height: auto;
    width: 100%;
}

.logo {
    position: absolute;
    top: 30%; /* ajusta la posición vertical de la imagen */
    left: 15%; /* ajusta la posición horizontal de la imagen */
    z-index: 2; /* asegura que la imagen se muestre por encima de la imagen de fondo */
}


.image-container {
    position: relative;
}

.table-header {
    background-color: lightsalmon;
}

.table-header th {
    color: #333;
}

.catalog-image {
    height: 50vh;
}

.services-image {
    height: 30vh;
}

.landing-image {
    height: 65vh;
}